USE [Emo_Dictionary]
GO
/****** Object:  Table [dbo].[Dac_Ta]    Script Date: 5/17/2018 3:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dac_Ta](
	[Tu_Dac_Trung] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuDienCamXuc]    Script Date: 5/17/2018 3:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuDienCamXuc](
	[TU_CAM_XUC] [nvarchar](50) NOT NULL,
	[TRONG_SO] [smallint] NOT NULL,
	[hat_giong] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_TuDienCamXuc] PRIMARY KEY CLUSTERED 
(
	[TU_CAM_XUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Dac_Ta] ([Tu_Dac_Trung]) VALUES (N'Nội dung')
INSERT [dbo].[Dac_Ta] ([Tu_Dac_Trung]) VALUES (N'Văn phong')
INSERT [dbo].[Dac_Ta] ([Tu_Dac_Trung]) VALUES (N'Trình bày')
INSERT [dbo].[TuDienCamXuc] ([TU_CAM_XUC], [TRONG_SO], [hat_giong]) VALUES (N'bổ ích', 1, 1)
INSERT [dbo].[TuDienCamXuc] ([TU_CAM_XUC], [TRONG_SO], [hat_giong]) VALUES (N'chán', 1, 1)
INSERT [dbo].[TuDienCamXuc] ([TU_CAM_XUC], [TRONG_SO], [hat_giong]) VALUES (N'chán cực kỳ', 3, 0)
