USE [master]
GO
/****** Object:  Database [Emo_Dictionary]    Script Date: 19-Jun-18 7:35:05 PM ******/
CREATE DATABASE [Emo_Dictionary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Emo_Dictionary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Emo_Dictionary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Emo_Dictionary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Emo_Dictionary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emo_Dictionary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emo_Dictionary]
GO
USE [Emo_Dictionary]
GO
/****** Object:  Table [dbo].[Emo_Dic]    Script Date: 19-Jun-18 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emo_Dic](
	[TU_CAM_XUC] [nvarchar](50) NOT NULL,
	[TRONG_SO] [float] NOT NULL,
	[HAT_GIONG] [bit] NOT NULL,
 CONSTRAINT [PK_TuDienCamXuc] PRIMARY KEY CLUSTERED 
(
	[TU_CAM_XUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhiaCanh]    Script Date: 19-Jun-18 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhiaCanh](
	[TuDacTrung] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emo_Dic] ADD  CONSTRAINT [DF__TuDienCam__hat_g__38996AB5]  DEFAULT ((0)) FOR [HAT_GIONG]
GO
USE [master]
GO
